#seating-chart {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
    justify-content: center;
    padding-top: 70px;
}

.seat {
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.booked {
    background-color: #FF0000;
    cursor: not-allowed;
    color: white;
}

.available {
    background-color: #7FFF00;
}

#select-button {
    padding: 10px;
    margin: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    grid-column: 1 / span 3;
}